# Discord Bot Configuration
# Obtener en: Discord Developer Portal → Your App → Bot → Reset Token
DISCORD_BOT_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=your_client_id_here  # Application ID del bot

# Mapped Channels
GENERAL_CHANNEL=1476347136525467811
VOTACIONES_CHANNEL=1476347664231829534
TESTING_CHANNEL=1497030359743856670

# Server
PORT=3000

# API URL (para el consumidor interno desde el bot)
API_URL=http://localhost:3000

# Logger
LOG_LEVEL=INFO  # DEBUG, INFO, WARN, ERROR
LOG_TO_FILE=true
LOG_DIR=./logs